*{
  font-family: monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
    text-align: center;
    margin-top: 10px;
    color: rgb(108, 108, 245);
    font-family: monospace;
    font-size: 3em;
}

h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    color: rgb(108, 108, 245);
    font-family: monospace;
    font-size: 2em;
}

body{
    background-color: rgb(163, 240, 163);  
}

.name{
    float: right;
}

.block_container {
    display: flex;
    justify-content: center;
    
}

.type{
    padding-right: 80px;
    border-radius: 5px;
        
}
input, select{
    text-align: left;
    margin-bottom: 50px;
    width:250px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    
    
}

span{
    font-size: 1.5em;
    font-weight: 200;
    display: inline-block;
    width: 80px;
}

button{
    color: whitesmoke;
    display: block;
    max-width: 300px;
    margin: auto;
    background-color: #3d1ec7;
    width: 10em;
    height: 4.5em;
    border-radius: 5px;
  
}
table{
    display: flex;
    justify-content: center;
    color: rgb(184, 14, 14);
   
}

td, th {
    border: 1px solid #bb4545;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #ecdede;
  }

#date{
    width: 50px;
}
#description{
    width: 100px;
}
#amount{
    width: 200px;
}
#location{
    width: 150px;
}